<footer>
  <div
    class="flex flex-col items-center justify-center h-screen text-gray-zambezi"
  >
    <p class="text-base font-medium">MZYXNUEL</p>
    <p class="text-base font-medium">@COPYRIGHT 2024</p>
  </div>
</footer>
